body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.title {
    text-align: center;
    font-size: 7vw;
}

.important {
    display: inline;
    color: red;
    font-size: 140%;
}

.reuse-title {
    display: inline;
    color: green;
    font-size: 140%;
}

ul {
    box-shadow: 0px 0px 3px silver;
    border: solid 1px whitesmoke;
    padding: 0.5em 1em 0.5em 2.3em;
    position: relative;
    background: #fafafa;
}
