{% extends "base.html" %} {% block body %}
<div class="conteiner">
    <ul class="collection with-header">
        <li class="collection-header">
            <h4>購入について</h4>
        </li>
        <li class="collection-header">
            <h5>購入について、以下の点をご了承ください</h5>
        </li>
        <li class="collection-item">
            中古品であるため、経年劣化等の可能性があること
        </li>
        <li class="collection-item">
            ▶物品回収時まで提供者宅で動作していることを回収条件としています
        </li>
        <li class="collection-item">
            リユース市で購入した商品の持ち帰りは購入者自身で行うこと
        </li>
        <li class="collection-item">
            ▶当日引取が難しい場合は後日に受取をすることも可能です
        </li>
    </ul>
</div>

{% endblock %}
