<!DOCTYPE html>
<title>
    第17回リユース市 提供物品一覧
</title>

<head>
    <meta name="keywords" content="わどわ,wadowa,弘前大学,環境,サークル,Ｒくん,リユース市,再利用,家具,家電,新入生,青森" />
    <meta name="description" content="“わどわ”は弘前大学公認の環境サークルです。今年度もわどわでは、3月20、21日に弘前大学新入生を対象としたリユース市を文京キャンパスにて開催します。" />
    <title>第17回リユース市　提供物品一覧</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="{{ url_for('static', filename='js/sample.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sample.css') }}">
</head>


<body>
    <header>
        <nav>
            <div class="nav-wrapper green">
                <ul>
                    <li><a href="/" class="brand-logo left">物品一覧</a></li>
                </ul>
                <ul class="right">
                    <li><a href="#" class="dropdown-trigger" data-target="submenu1">カテゴリ</a></li>
                    <li><a href="#" class="dropdown-trigger" data-target="submenu2">詳しく</a></li>
                </ul>
                <ul id="submenu1" class="dropdown-content">
                    {% for category in categories %}
                    <li><a href="/items/{{category.en}}">{{category.jp}}</a></li>
                    {% endfor %}
                </ul>
                <ul id="submenu2" class="dropdown-content">
                    <li><a href="/about">購入について</a></li>
                    <li><a href="/status">回収状況</a></li>
                </ul>
            </div>
        </nav>
    </header>


</body>
<main>
    {% block body %}
    <!-- ここにメインコンテンツを書く -->
    {% endblock %}
</main>

<footer class="page-footer green">
    <div class="container">
        <div class="row">
            <div class="col s4 center">
                <a class="white-text" href="http://hirodaiwadowa.web.fc2.com">わどわTOP</a>
            </div>
            <div class="col s4 center">
                <a class="white-text" href="https://twitter.com/hirodaiwadowa">わどわTwitter</a>
            </div>
            <div class="col s4 center">
                <a class="white-text" href="http://www.hirodaisai.net/shinkan20/index.html">大勧誘会TOP</a>
            </div>
        </div>
        <div class="footer-copyright green">
            <div class="container">
                © 2005-2020 Wadowa of Hirosaki Univ All Rights Reserved.
            </div>
        </div>
    </div>
</footer>

</html>