{% extends "base.html" %} {% block body %}

<div class="conteinner" id="COVID-19">
    <h4 class="center-align">
        第17回リユース市における<br />
        新型コロナウイルス感染症「COVID-19」への対応について(2020/03/06現在)
    </h4>
    <p class="center-align">
        サークル内及び大学当局との協議の結果、以下のように対応します。
    </p>
    <div class="row">
        <div class="col s12 m8 l6 push-m2 push-l3">
            <ol>
                <li>以下の<b>会場開催は中止</b>とします。</li>
                <table>
                    <tr>
                        <th>日時</th>
                        <th>場所</th>
                    </tr>
                    <tr>
                        <td>2020年3月20日</td>
                        <td rowspan="2">弘前大学 総合教育棟101講義室</td>
                    </tr>
                    <tr>
                        <td>2020年3月21日</td>
                    </tr>
                </table>

                <li>
                    物品購入方法を<b>インターネットによる受付のみ</b>とします。
                </li>
                <p>
                    弘前市民の方も購入が可能です。<br />
                    <b>複数の購入希望があった場合、弘前大学新入生を優先</b>させていただきます。<br />
                <ul>
                    <s>
                        <li>第一期: 3月10日(火) ~ 3月19日(木)<br>
                            対象: 弘前大学新入生、在校生
                        </li>
                    </s>
                    <s>
                        <li>
                            後期合格発表特別版 3月20日(金祝)<br>
                            対象:弘前大学新入生のみ<br>
                            個数: 5個まで
                        </li>
                    </s>
                    <s>
                        <li>
                            第二期: 3月21日(土) ~ 3月30日(月)<br>
                            対象: 弘前大学新入生、在校生、弘前大学職員、一般市民<br>
                            個数: 新入生4個まで、それ以外3個まで
                        </li>
                    </s>
                    <b>
                        <li>
                            第三期: 4月1日(水) ~ 5月31日(日)<br />
                            対象: 弘前大学新入生、在校生、弘前大学職員、一般市民<br />
                            個数: 5個まで<br>
                            引き渡し: 土曜日、日曜日のみ
                        </li>
                    </b>
                </ul>
                </p>
                <li>
                    弘前大学卒業生への<b>物品提供の受付・回収は継続</b>します。
                </li>
            </ol>
        </div>
    </div>
</div>

{% endblock %}