{% extends "base.html" %} {% block body %}
<div class="container">
    <div class="row">
        {% for item in items %}
        <div class="col s12 m4">
            <a href="/items/view/{{item.key}}">
                <figure class="center-align">
                    <img
                        src="{{url_for('static', filename=item.img_path)}}"
                        height="200px"
                        width="200px"
                    />
                    <figcaption>{{item.item_id}}</figcaption>
                </figure>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
