
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta name="keywords" content="わどわ,wadowa,弘前大学,環境,サークル,Ｒくん,リユース市,再利用,家具,家電,新入生" />
<meta name="description" content="“わどわ”は弘前大学公認の環境サークルです。今年度もわどわでは、3月20、21日に弘前大学新入生を対象としたリユース市を文京キャンパスにて開催します。">
<title>第16回リユース市　提供物品一覧</title>
<link rel="shortcut icon" href="../img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="list_basic.css" /> 

<!--▼ タブメニュー　実装　ここから▼ -->
<script type="text/javascript">
function ChangeTab(tabname) {
   // タブメニュー実装
   document.getElementById('tab1').style.display = 'none';
   document.getElementById('tab2').style.display = 'none';
   document.getElementById('tab3').style.display = 'none';
   document.getElementById('tab4').style.display = 'none';
   document.getElementById('tab5').style.display = 'none';
   document.getElementById('tab6').style.display = 'none';
   document.getElementById('tab7').style.display = 'none';
   document.getElementById('tab8').style.display = 'none';
   document.getElementById('tab9').style.display = 'none';
   // タブメニュー実装
   document.getElementById(tabname).style.display = 'block';
}
//</script>
<!--▲ タブメニュー　実装　ここまで▲ -->

<style type="text/css">
/* ▼ タブメニュー全体の設定 */
div.tabbox { margin: 15px 0 0 0; padding: 0px; width:1020px; height:1600px;}
/* ▼ タブ部分のマージンとパディング領域を設定 */
p.tabs { margin: 0px; padding: 0px; }
p.tabs a {
   /* ▼ リンクをタブのように見せる */
   display: block; height:45px; width: 100px; float: left;
   margin: 0px 3px 0px 0px; padding: 3px;
   text-align: center;
   font-size:16px;
}
/* ▼ タブごとの配色設定 */
p.tabs a.tab1 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(170, 0, 0, 0.85);  color: #666; font-weight:600;}
p.tabs a.tab2 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(0, 170, 0, 0.85);  color: #666; font-weight:600;}
p.tabs a.tab3 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(0, 0, 170, 0.85);  color: #666; font-weight:600;}
p.tabs a.tab4 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(100, 0, 0, 0.85);  color: #666; font-weight:600;}
p.tabs a.tab5 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(0, 100, 0, 0.85);  color: #666; font-weight:600;}
p.tabs a.tab6 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(0, 0,100, 0.85);  color: #666; font-weight:600;}
p.tabs a.tab7 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(50, 50, 0, 0.85);  color: #666; font-weight:600;}
p.tabs a.tab8 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(0, 50, 50, 0.85);  color: #666; font-weight:600;}
p.tabs a.tab9 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(0, 50, 50, 0.85);  color: #666; font-weight:600;}
p.tabs a:hover {opacity:0.7;filter:alpha(opacity=70);}
/* ▼ タブ中身のボックス */
div.tab {
   /* ▼ ボックス共通の装飾 */
   height: 1500px;  clear: left; text-align:center;
}
/* ▼ 各ボックスの配色設定 */
div#tab1 { border: 2px solid #DDD; background-color: #fbfbfb; }
div#tab2 { border: 2px solid #DDD; background-color: #fbfbfb; }
div#tab3 { border: 2px solid #DDD; background-color: #fbfbfb; }
div#tab4 { border: 2px solid #DDD; background-color: #fbfbfb; }
div#tab5 { border: 2px solid #DDD; background-color: #fbfbfb; }
div#tab6 { border: 2px solid #DDD; background-color: #fbfbfb; }
div#tab7 { border: 2px solid #DDD; background-color: #fbfbfb; }
div#tab8 { border: 2px solid #DDD; background-color: #fbfbfb; }
div#tab9 { border: 2px solid #DDD; background-color: #fbfbfb; }
div.tab p { margin: 0.5em; }
</style>

</head>

<body>

<!--▼ warapper▼ -->
<div id="warapper">
     
	 <!--▼ ヘッダー ここから ▼ -->
	 <div id="head">
	      <div id="head_left">
		  弘前大学公認　環境サークルわどわ主催
          <h2>第16回　リユース市　提供物品一覧</h2>
		  
		  </div>
		  <div id="head_right">
			   ｜<a href="../" target="_blank">わどわ公式サイト</a>｜
			   <a href="https://twitter.com/hirodaiwadowa" target="_blank">わどわTwitter</a>｜
			   <a href="http://www.hirodaisai.net/shinkan19/" target="_blank">弘前大学新入生大勧誘会</a>[4/13-14開催]｜<br/>
			   <br/>
			   <!--・2019.03.06　暫定版サイトを公開しました。 -->
			   <!--・2019.03.10　物品個別詳細ページを公開しました。 -->
			   ・2019.03.20　物品購入受付を終了しました。<br/>
			   ・2019.03.22　提供物品情報を更新しました。<br/>
		  </div>
     </div>
	 <!--▲ ヘッダー ここまで ▲ -->
	 
	 
	 <div id="introduction_text">
	      弘前大学に合格した新入生の皆さん！合格おめでとうございます！<br/>
		  今年度も環境サークルわどわでは、3月20、21日に弘前大学新入生を対象としたリユース市を文京キャンパスにて開催します。（※1　在学生の来場も大歓迎）<br/>
	      リユース市では弘前大学卒業生から提供いただいた家具・家電を基本的に無料で新入生に提供しています。（※2　一部大型家電は有料となります。）<br/>
		  新生活開始に当たっては様々な費用がかかります。是非一度リユース市の活用をご検討ください。<br/>
	      <br/>
		  今年度｢第16回リユース市｣は終了しました。後日物品引き渡しは引き続き行います。<br />
		  2日間、新入生・在校生だけではなく、大学職員、周辺住民の方と多くの方にご来場いただきました。<br />
		  物品を無償提供してくださった卒業生の皆様や、大学職員の方々、ご協力ありがとうございました。<br />
		  現在、<a href="reuse/item/L-8.html" target="_blank">[L-8] イス3</a>、　<a href="reuse/item/M-11.html" target="_blank">[M-11] 変わった棚</a>　の2品のみ、購入申込を受付中です。
		 <a href="https://docs.google.com/forms/d/e/1FAIpQLSef7gadJgsLZ6CZAe9I5vm-GRj9v28ih8Uq9ftJIVFBPZuXMA/viewform"
     target="_blank">ご購入希望の方はこちら（別タブでgoogle formを開きます）</a><br/>
	 <!--事前購入申込は１人１品とし、申込期限は3/20(水)8:00まで。先着順で、希望者多数の場合、新入生を優先させていただきます。<br/>
	 事前購入申込では、1人で複数購入はできません。購入キャンセルはリユース市当日（3月20日）までとします。<br/>
	 物品を事前購入した方も、リユース市当日1人につき2品まで物品を購入可能です。<br/> -->
		  <br/>
		  ↓項目タブをクリックすると、各項目の物品が確認できます。各物品写真をクリックすると詳細ページが別タブで開きます。<br/>
	 </div>


     <div class="tabbox">
	 
          <!-- ▼　タブカテゴリー　ここから -->	 
          <p class="tabs">
               <a href="#tab1" class="tab1" onclick="ChangeTab('tab1'); return false;">冷蔵庫<br />洗濯機</a>
               <a href="#tab2" class="tab2" onclick="ChangeTab('tab2'); return false;">電子レンジ<br />炊飯器</a>
               <a href="#tab3" class="tab3" onclick="ChangeTab('tab3'); return false;">家電その他</a>
	           <a href="#tab4" class="tab4" onclick="ChangeTab('tab4'); return false;">ハンガー<br />ラック類</a>
               <a href="#tab5" class="tab5" onclick="ChangeTab('tab5'); return false;">机・椅子</a>
               <a href="#tab6" class="tab6" onclick="ChangeTab('tab6'); return false;">棚類<br />[1～11]</a>
	           <a href="#tab7" class="tab7" onclick="ChangeTab('tab7'); return false;">棚類<br />[12～17]</a>
               <a href="#tab8" class="tab8" onclick="ChangeTab('tab8'); return false;">ケース類<br />[1～10]</a>
               <a href="#tab9" class="tab9" onclick="ChangeTab('tab9'); return false;">家具その他</a>
          </p>
          <!--▲ タブカテゴリー　ここまで ▲ -->
   
     <!-- ▼　[1]　A.冷蔵庫　B.洗濯機　ここから -->
     <div id="tab1" class="tab">
          <center>A.冷蔵庫　B.洗濯機　一覧</center>
		  <table border="0">
               <tr>
                    <td height="360px"; width="320px"><center><img src="img/A-1.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[A-1] 冷蔵庫 SJ-UA14</td>
                    <td height="360px"; width="320px"><center><img src="img/A-2.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[A-2] 冷蔵庫 JR-N106H</td>
                    <td height="360px"; width="320px"><center><img src="img/A-3.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[A-3] 冷蔵庫 MRU-F110D</td>
               </tr>
			   <tr>
			        <td height="360px"; width="320px"><center><img src="img/A-4.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[A-4] 冷蔵庫 SJ-K14X</td>
					<td height="360px"; width="320px"><center><img src="img/A-5.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[A-5] 冷蔵庫 SJ-D14A</td>
					<td height="360px"; width="320px"><center><img src="img/A-6.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[A-6] 冷蔵庫 MRU-F110D</td>
			   </tr>
			   <tr>
			        <td height="360px"; width="320px"><center><img src="img/B-1.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[B-1] 洗濯機 JW-K50H</td>
				    <td height="360px"; width="320px"><center><img src="img/B-2.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[B-2] 洗濯機 JW-K42H</td>
					<td height="360px"; width="320px"><center><img src="img/B-3.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[B-3] 洗濯機 NW-5MR</td> 
			   </tr>
			        <td height="360px"; width="320px"><center><img src="img/B-4.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[B-4] 洗濯機 ES-GE55N</td>
					<td height="360px"; width="320px"><center><img src="img/B-5.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[B-5] 洗濯機 JW-K50F</td>
					<td height="360px"; width="320px"><font size="+3">※　洗濯機・冷蔵庫の購入料金は一律 1000 円になります。</font></td>
			   <tr>
			   
			   </tr>
          </table>	
     </div>
	 <!-- ▲　[1]　A.冷蔵庫　B.洗濯機　　ここまで -->

     <!-- ▼　[2]　C.電子レンジ　D.炊飯器　ここから -->
     <div id="tab2" class="tab">
          <center>C.電子レンジ　D.炊飯器　一覧</center>
		  <table border="0">
               <tr>
                    <td height="360px"; width="320px"><center><img src="img/C-1.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[C-1] 電子レンジ PRE-7017R</td>
					<td height="360px"; width="320px"><center><img src="img/C-2.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[C-2] 電子レンジ JM-FH18A(白)</td>
					<td height="360px"; width="320px"><center><img src="img/C-3.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[C-3] 電子レンジ JM-FH18A(黒)</td> 
               </tr>
			   <tr>
			        <td height="360px"; width="320px"><center><img src="img/D-1.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[D-1] 炊飯器 JBU-A</td>
					<td height="360px"; width="320px"><center><img src="img/D-2.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[D-2] 炊飯器 JAI-H型</td>
					<td height="360px"; width="320px"><center><img src="img/D-3.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[D-3] 炊飯器 JAJ-A型</td>
			   </tr>
			   <tr>
			        <td height="360px"; width="320px"><center><img src="img/D-4.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[D-4] 炊飯器 NS-UK05型</td>
					<td height="360px"; width="320px"></td>
					<td height="360px"; width="320px"><font size="+3">※　電子レンジ・炊飯器の購入料金は一律 500 円になります。</font></td>
			   </tr>
          </table>	
	 </div>
	 <!-- ▲　[2]　C.電子レンジ　D.炊飯器　ここまで -->
	
	
     <!-- ▼　[3]　E.ガスコンロ　F.プリンター　ここから -->
     <div id="tab3" class="tab">
	      <center>家電その他　（E.ガスコンロ　F.プリンター　G.電気ケトル　J.扇風機）　一覧</center>
		  <table border="0">
               <tr>
                    <td height="360px"; width="320px"><center><img src="img/E-1.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[E-1] ガスコンロ KGD56BL</td>
					<td height="360px"; width="320px"><center><img src="img/E-2.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[E-2] ガスコンロ KGD56BL</td>
                    <td height="360px"; width="320px"><center><img src="img/F-1.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[F-1]　プリンター　DCP-J757N</td>
                    
               </tr>
			   <tr>
                    <td height="360px"; width="320px"><center><img src="img/F-2.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[F-2] プリンター EP-707A</td>
					<td height="360px"; width="320px"><center><img src="img/G-1.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[G-1] 電気ケトル PCF-G080</td>
                    <td height="360px"; width="320px"><center><img src="img/J-1.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[J-1] 扇風機 F-C313S</td>
			   </tr>
			   <tr>
			        <td height="360px"; width="320px"><center><img src="img/J-2.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[J-2] 扇風機 KI-1755(W)</td>
			   </tr>
          </table>    
     </div>
	 <!-- ▲　[3]　E.ガスコンロ　F.プリンター　ここまで -->
	 
	 <!-- ▼　[4]　K.ハンガーラック類　ここから -->
     <div id="tab4" class="tab">
	      <center>K.ハンガーラック類　一覧</center>
		  <table border="0">
               <tr>
                    <td height="360px"; width="320px"><center><img src="img/K-1.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[K-1]　ハンガーラック1</td>
                    <td height="360px"; width="320px"><center><img src="img/K-2.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[K-2]　ハンガーラック2</td>
                    <td height="360px"; width="320px"><center><img src="img/K-3.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[K-3]　ハンガーラック3</td>    
               </tr>
			   <tr>
                    <td height="360px"; width="320px"><center><img src="img/K-4.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[K-4]　ハンガーラック4</td>
					<td height="360px"; width="320px"><center><img src="img/K-5.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[K-5]　ハンガーラック5</td>
                    <td height="360px"; width="320px"><center><img src="img/K-6.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[K-6]　ハンガーラック6</td>
               </tr>
          </table>  
     </div>
     <!-- ▲　[4]　K.ハンガーラック類　ここまで -->   
   
     <!-- ▼　[5]　L.机・椅子（セット含む）　ここから -->
     <div id="tab5" class="tab">
          <center>L.机・椅子（セット含む）　一覧</center>
		  <table border="0">
               <tr>
                    <td height="360px"; width="320px"><center><img src="img/L-1.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[L-1] イス1</td>
                    <td height="360px"; width="320px"><center><img src="img/L-2.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[L-2] メッシュチェア HLMO01-BK</td>
                    <td height="360px"; width="320px"><center><img src="img/L-3.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[L-3] システムデスク<br />KZN-1000NLPJ</td> 
               </tr>
			   <tr>
			        <td height="360px"; width="320px"><center><img src="img/L-4.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[L-4] イス2</td>
					<td height="360px"; width="320px"><center><img src="img/L-5.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[L-5] デスクセット1</td>
					<td height="360px"; width="320px"><center><img src="img/L-6.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[L-6] テーブル1</td>
			   </tr>
			   <tr>
			        <td height="360px"; width="320px"><center><img src="img/L-7.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[L-7] システムデスク　KZN-1000NLPJ</td>
					<td height="360px"; width="320px"><center><a href="item/L-8.html" target="_blank"><img src="img/L-8.JPG" height="320px" width="240px"/></a></center>[L-8] イス3</td>
					<td height="360px"; width="320px"><center><img src="img/L-9.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[L-9] テーブル2</td>
			   </tr>
			   <tr>
			        <td height="360px"; width="320px"><center><img src="img/L-10.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[L-10] デスクセット2</td>
					<td height="360px"; width="320px"><center><img src="img/L-11.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[L-11] イス4</td>
			   </tr>
          </table>
　   </div>
     <!-- ▲　[5]　L.机・椅子（セット含む）　ここまで --> 

     <!-- ▼　[6]　M.棚類 [1～11]（食器棚・箪笥含む）　ここから -->
     <div id="tab6" class="tab">
          <center>M.棚類 [1～11]（食器棚・箪笥含む）　一覧</center>
		  <table border="0">
               <tr>
                    <td height="360px"; width="320px"><center><img src="img/M-1.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[M-1] 箪笥1</td>
                    <td height="360px"; width="320px"><center><img src="img/M-2.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[M-2] 食器棚1</td>
                    <td height="360px"; width="320px"><center><img src="img/M-3.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[M-3] 箪笥2</td>    
               </tr>
			   <tr>
                    <td height="360px"; width="320px"><center><img src="img/M-4.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[M-4] カラーボックス1</td>
					<td height="360px"; width="320px"><center><img src="img/M-5_7.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[M-5] カラーボックス2<br />(内1つ)</td>
                    <td height="360px"; width="320px"><center><img src="img/M-5_7.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[M-6] カラーボックス2<br />(内1つ)</td>  
               </tr>
			   <tr>
			        <td height="360px"; width="320px"><center><img src="img/M-5_7.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[M-7] カラーボックス2<br />(内1つ)</td>
				    <td height="360px"; width="320px"><center><img src="img/M-8.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[M-8] 本棚1</td>
					<td height="360px"; width="320px"><center><img src="img/M-9.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[M-9] 本棚2</td>
			   </tr>
			   <tr>
			        <td height="360px"; width="320px"><center><img src="img/M-10.JPG" height="320px" width="180px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[M-10] 本棚3</td>
				    <td height="360px"; width="320px"><center><a href="item/M-11.html" target="_blank"><img src="img/M-11.JPG" height="320px" width="240px"/></a></center>[M-11] 変わった棚</td>
					<td height="360px"; width="320px"></td>
			   </tr>
          </table>
     </div>
	 <!-- ▲　[6]　M.棚類（食器棚・箪笥含む）　ここまで -->
	 
	 <!-- ▼　[8]　N.ケース類 [1～10] ここから -->
     <div id="tab8" class="tab">
	      <center>N.ケース類 [1～10] 一覧</center>
          <table border="0">
               <tr>
                    <td height="360px"; width="320px"><center><img src="img/N-1_2.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[N-1] 衣装ケース1(内1つ)</td>
                    <td height="360px"; width="320px"><center><img src="img/N-1_2.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[N-2] 衣装ケース1(内1つ)</td>
                    <td height="360px"; width="320px"><center><img src="img/N-3.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[N-3] 衣装ケース2</td>
               </tr>
			   <tr>
                    <td height="360px"; width="320px"><center><img src="img/N-4_6.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[N-4] 衣装ケース3(内1つ)</td>
                    <td height="360px"; width="320px"><center><img src="img/N-4_6.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[N-5] 衣装ケース3(内1つ)</td>
                    <td height="360px"; width="320px"><center><img src="img/N-4_6.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[N-6] 衣装ケース3(内1つ)</td>
               </tr>
			    <tr>
                    <td height="360px"; width="320px"><center><img src="img/N-7_10.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[N-7] 衣装ケース4(内1つ)</td>
                    <td height="360px"; width="320px"><center><img src="img/N-7_10.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[N-8] 衣装ケース4(内1つ)</td>
                    <td height="360px"; width="320px"><center><img src="img/N-7_10.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[N-9] 衣装ケース4(内1つ)</td>
               </tr>
			   <tr>
			         <tr>
                    <td height="360px"; width="320px"><center><img src="img/N-7_10.JPG" height="320px" width="240px"/></a></center><img src="img/sold.JPG" height="20px" width="60px" />[N-10] 衣装ケース4(内1つ)</td>
					<td height="360px"; width="320px"></td>
					<td height="360px"; width="320px">※　[N-○]の同型物品は複数購入が可能です。例) [N-7]、[N-8]、[N-9]をまとめて購入など</td>
			   </tr>
          </table> 
     </div>
	 <!-- ▲　[8]　N.ケース類　ここまで -->
	 
     <!-- ▼　[9]　Z.テレビ台　ここから -->
     <div id="tab9" class="tab">
	      <center>家具その他　（N.ケース類 [11～13] 　Y.スタンドミラー　Z.テレビ台　など）　一覧</center>
          <table border="0">
               <tr>
                    <td height="360px"; width="320px"><center><img src="img/N-11_13.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[N-11] 衣装ケース5(内1つ)</td>
                    <td height="360px"; width="320px"><center><img src="img/N-11_13.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[N-12] 衣装ケース5(内1つ)</td>
                    <td height="360px"; width="320px"><center><img src="img/N-11_13.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[N-13] 衣装ケース5(内1つ)</td>
               </tr>
			   <tr>
                    <td height="360px"; width="320px"><center><img src="img/Q-1.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[Q-1] シューズ棚</td>
					<td height="360px"; width="320px"><center><img src="img/W-1.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[W-1] ソファーベット</td>
                    <td height="360px"; width="320px"><center><img src="img/W-2.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[W-2] 折りたたみ式ベット</td>
               </tr>
			   <tr>
                    <td height="360px"; width="320px"><center><img src="img/X-1.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[X-1] ラック</td>
					<td height="360px"; width="320px"><center><img src="img/Y-1.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[Y-1] スタンドミラー</td>
                    <td height="360px"; width="320px"><center><img src="img/Z-1.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[Z-1] テレビ台1</td>
               </tr>
			   <tr>
			        <td height="360px"; width="320px"><center><img src="img/Z-2.JPG" height="240px" width="320px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[Z-2] テレビ台2</td>
			   </tr>
          </table>  
　   </div>
     <!-- ▲　[9]　Z.テレビ台　ここまで -->
     
	 <!-- ▼　[7]　M.棚類 [11～]（食器棚・箪笥含む）　ここから -->
     <div id="tab7" class="tab">
          <center>M.棚類 [12～17]（食器棚・箪笥含む）</center>
		  <table>
		       <tr>
			        <td height="360px"; width="320px"><center><img src="img/M-12.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[M-12] ミラー付き棚</td>
				    <td height="360px"; width="320px"><center><img src="img/M-13.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[M-13] 食器棚2</td>
					<td height="360px"; width="320px"><center><img src="img/M-14.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[M-14] 本棚3</td>
			   </tr>
			   <tr>
			        <td height="360px"; width="320px"><center><img src="img/M-15.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px"/>[M-15] カラーボックス3</td>
				    <td height="360px"; width="320px"><center><img src="img/M-16_17.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[M-16] カラーボックス4<br />(内1つ)</td>
					<td height="360px"; width="320px"><center><img src="img/M-16_17.JPG" height="320px" width="240px"/></center><img src="img/sold.JPG" height="20px" width="60px" />[M-17] カラーボックス4<br />(内1つ)</td>
			   </tr>
		  </table>
     </div>
     <!-- ▲　[7]　M.棚類 [11～]（食器棚・箪笥含む）　ここまで -->
   
</div><!-- tabbox -->

<!-- ページを開いた際の最初に表示するタブ選択設定 -->
<script type="text/javascript">
   ChangeTab('tab1');
</script>

<!-- タブメニュー実装　HTML文 -->
     
	 <div id="information">
	      <div id="information_left">
		       <u>第16回リユース市開催情報</u><br/>
		       [日時]　2019年3月20日（金）13:00～15:00<br/>
			   　　　　　　　　　21日（木）10:00～12:00<br/>
		       [場所]　弘前大学　文京キャンパス内　総合教育棟101講義室<br/>
			   　　　　大学正門左手にある建物（総合教育棟）1階の、正門側から入ってすぐの講義室にて開催します<br/>
			   [来場者の方へ]<br/>
			   　お持ち帰りの際、お手伝いは一切できません。ご了承ください。<br/>
			   　即日のお持ち帰りが困難な場合は、スタッフまでお問い合わせください。<br/>
		  </div>
		  <div id="information_right">
		       <img src="img/building.JPG" height="200px" width="150px" alt="総合教育棟外観" /><br />
			   ↑総合教育棟外観
		  </div>
	 </div>
	 
	 
     <div id="copy_right">
	      ｜<a href="../" target="_blank">環境サークルわどわ公式サイト</a>
		  ｜<a href="https://twitter.com/hirodaiwadowa" target="_blank">わどわ公式Twitter（随時更新中！）</a>｜<br/>
	      <u>Copyright(C) 2005-2019 Wadowa of Hirosaki Univ All Rights Reserved.</u>  
	 </div>

</div>
<!--▲ warapper▲ -->
<script type="text/javascript"><!--
var fc2footerparam = 'charset=' + (document.charset ? document.charset : document.characterSet) + '&url=' + document.location + '&service=0&r=' + Math.floor(Math.random()*99999999999);
var fc2footertag = '<' + 'script src="//vip.chps-api.fc2.com/apis/footer/?' + fc2footerparam + '" charset="UTF-8"><' + '/script>';
document.write(fc2footertag);
//--></script>
<!-- FC2, inc.-->
<img src="//media.fc2.com/counter_img.php?id=50" style="visibility:hidden" alt="inserted by FC2 system" width="0" height="0">
<!-- FC2, inc.-->
</body>
</html>
