{% extends "base.html" %} {% block body %}
<div class="conteiner">
    <!-- <h3 class="title">
        弘前大学に合格した皆さん！<br />合格おめでとうございます！
    </h3> -->
    <br>
    <div class="row">
    <div class="center col s12 m4 push-m4">
        <h5><u>第17回リユース市開催情報</u></h5>
        <table>
            <tr>
                <td rowspan="3">日時</td>
                <td>2020年3月20日（金）13:30～16:00</td>
            </tr>
            <tr>
                <td>2020年3月20日（金）10:00～14:30</td>
            </tr>
            <tr>
                <td>初日の14:30までは弘前大学の新入生、在校生限定です</td>
            </tr>
            <tr>
              <td rowspan="2">場所</td>
              <td>弘前大学 文京キャンパス内 総合教育棟101講義室</td>
            </tr>
            <tr>
              <td>大学正門入り口すぐ</td>
            </tr>
          </table>
    </div>
</div>
    <p class="center-align">
        新生活開始に当たっては様々な費用がかかります。<br />
        是非一度<span class="reuse-title">リユース市</span>の活用をご検討ください。
    </p>

    <div class="center">
        <img
            class="responsive-img"
            src="static/logo.png"
            alt="Logo"
            width="300"
            height="300"
        />
    </div>
</div>


<hr />


<p class="center-align">物品回収依頼の方は<a href="https://docs.google.com/forms/d/e/1FAIpQLScVBmPUxnkwDAm7JsJNFktBb0LLIUkgKgW6ASkzvwF60N0UPA/viewform">こちら</a></p>
{% endblock %}
</div>
