{% extends "base.html" %} {% block body %}
<div class="container" id="holding-info" hidden>
    <!-- <h3 class="title">
        弘前大学に合格した皆さん！<br />合格おめでとうございます！
    </h3> -->
    <br />
    <div class="row">
        <div class="center col s12 m4 push-m4">
            <h5><u>第17回リユース市開催情報</u></h5>
            <table>
                <tr>
                    <td rowspan="3">日時</td>
                    <td>2020年3月20日（金）13:30～16:00</td>
                </tr>
                <tr>
                    <td>2020年3月21日（土）10:00～14:30</td>
                </tr>
                <tr>
                    <td>初日の14:30までは弘前大学の新入生、在校生限定です</td>
                </tr>
                <tr>
                    <td rowspan="2">場所</td>
                    <td>弘前大学 文京キャンパス内 総合教育棟101講義室</td>
                </tr>
                <tr>
                    <td>大学正門入り口すぐ</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="container" id="what">
    <h4 class="center-align">リユース市とは</h4>
    <p class="center-align">
        <span class="reuse-title">リユース市</span>は卒業生などから不要になった家具家電を回収し、新入生などの必要としている人へ受け渡す環境サークルわどわの活動です。
    </p>
    <p class="center-align">
        本年度は<a href="/covid-19">コロナウイルスの影響のため会場開催を中止</a>し、インターネット受付のみとします。
    </p>
    <p class="center-align">
        右上のカテゴリか以下の表から各物品のまとめページを見ることができます。
    </p>
</div>

<div class="container" id="status">
    <h4 class="center-align">現在の回収状況</h4>

    <div class="row">
        <div class="col s12 m4 push-m4">
            <table class="striped">
                <tr>
                    <th class="center-align">カテゴリ</th>
                    <th class="center-align">数</th>
                </tr>
                {% for content in contents %}
                <tr>
                    <td class="center-align">
                        <a href="/items/{{content.en}}">{{content.jp}}</a>
                    </td>
                    <td class="center-align">{{content.n_content}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="center-align">
                        合計
                    </td>
                    <td class="center-align">{{n_sum}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="container center" id="引取">
    <h4>物品の購入について</h4>
    <p>以下の日程で受け付けています</p>
    <p>同じ人が各回で申し込むことが可能です</p>
    <ul>
        <s>
            <li>第一期: 3月10日(火) ~ 3月19日(木)<br>
                対象: 弘前大学新入生、在校生
            </li>
            <li>
                後期合格発表特別版 3月20日(金祝)<br>
                対象:弘前大学新入生のみ<br>
                個数: 5個まで
            </li>
        </s>
        <b>
            <li>
                第二期: 3月21日(土) ~ 3月30日(月)<br>
                対象: 弘前大学新入生、在校生、弘前大学職員、一般市民<br>
                個数: 新入生4個まで、それ以外3個まで
            </li>
        </b>

    </ul>
</div>

<div class="container center" id="conclusion">
    <p>
        新生活開始に当たっては様々な費用がかかります。<br />
        是非一度<span class="reuse-title">リユース市</span>の活用をご検討ください。
    </p>

    <img class="responsive-img" src="static/logo.png" alt="Logo" width="300" height="300" />
</div>


<div class="container" id="additional" hidden>
    <hr />
    <p class="center-align">
        物品回収依頼の方は<a
            href="https://docs.google.com/forms/d/e/1FAIpQLScVBmPUxnkwDAm7JsJNFktBb0LLIUkgKgW6ASkzvwF60N0UPA/viewform"
            target="_blank" rel="noopener noreferrer">こちら</a>
    </p>
</div>

{% endblock %}