<!-- 個別の物品ページ -->
{% extends "base.html" %} {% block body %}

<figure class="center-align">
    <img
        src="{{ url_for('static', filename=item.img_path) }}"
        class="responsive-img"
        alt="物品写真"
    />
</figure>

<table class="centered">
    <tbody>
        <tr>
            <td>値段</td>
            <td>{{item.price}}</td>
        </tr>
        <tr>
            <td>物品番号</td>
            <td>{{item.item_id}}</td>
        </tr>
        <tr>
            <td>カテゴリ</td>
            <td>{{item.category}}</td>
        </tr>
        <tr>
            <td>製品名</td>
            <td>{{item.model_number}}</td>
        </tr>

        <tr>
            <td>説明書の有無</td>
            <td>{{item.guide}}</td>
        </tr>
        <tr>
            <td>備考</td>
            <td>{{item.remarks}}</td>
        </tr>
    </tbody>
</table>

<p class="center-align">引取希望の方は<a href=https://docs.google.com/forms/d/1o6klIxA7o3-61J987qWOpqmewWotda3P_Pe8jZ-dki0/edit>こちら</a></p>
<p class="center-align">(GoogleFormを開きます)</p>

{% endblock %}
