<!-- 個別の物品ページ -->
{% extends "base.html" %} {% block body %}

<figure class="center-align">
    <img
        id="forcused_img"
        src="{{ url_for('static', filename=item.img_path[0]) }}"
        class="responsive-img"
        alt="物品写真"
    />
</figure>

<div class="row">
    {% for path in item.img_path %}
    <div class="col s6">
        <figure class="center-align">
            <img
                src="{{ url_for('static', filename=path) }}"
                width="100vw"
                alt="物品写真(小)"
                onclick='ChangeImage("forcused_img")'
            />
        </figure>
    </div>
    {% endfor %}
</div>

<table class="centered">
    <tbody>
        <tr>
            <td>値段</td>
            <td>{{item.price}}円</td
        </tr>
        <tr>
            <td>物品番号</td>
            <td>{{item.item_id}}</td>
        </tr>
        <tr>
            <td>カテゴリ</td>
            <td>{{item.category}}</td>
        </tr>
        <tr>
            <td>製品名</td>
            <td>{{item.model_number}}</td>
        </tr>

        <tr>
            <td>説明書の有無</td>
            <td>{{item.guide}}</td>
        </tr>
        <tr>
            <td>備考</td>
            <td>{{item.remarks}}</td>
        </tr>
    </tbody>
</table>

<div class="center">
<p><strong>受付期間</strong></p>
<ul class="center-align">
    <s><li>第一期: 3月10日(火) ~ 3月19日(木)<br>
        対象: 弘前大学新入生、在校生
    </li></s>
    <strong><li>
        後期合格発表特別版 3月20日(金祝)<br>
        対象: <span style="color:#ff0000;">弘前大学新入生</span>のみ<br>
        個数: 5個まで
    </li></strong>
    <li>
        第二期: 3月21日(土) ~ 3月30日(月)<br>
        対象: 上記 + 弘前大学職員、一般市民
    </li>
</ul>

</div>

<p class="center-align">引取希望の方は<a href=https://forms.gle/Cwk2gBz5nVo3F9jy7 target="_blank" rel="noopener noreferrer">こちら</a></p>
<p class="center-align">(GoogleFormを開きます)</p>

{% endblock %}
